<!DOCTYPE html>
<html>
  <head>
    <title>WeEat</title>
    <%= stylesheet_link_tag 'react-table', media: 'all' %>
    <link href="<%= asset_pack_path 'we_eat_app.css' %>" media="screen" rel="stylesheet" />
    <link href="/assets/react-table.css" media="screen" rel="stylesheet" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <div id="root"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
